.form-container {
    width: 600px;
    margin: 0 auto;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.form-title {
    font-size: 33px;
    color: gray;
    font-weight: 400;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-left: 5px;
}

.input-group input {
    width: 415px;
    height: 55px;
    border: 1px solid green;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 24px;
}

.form-submit {
    width: 415px;
    height: 45px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.form-link {
    color: orange;
    text-decoration: none;
}